body {
    background: whitesmoke;
    min-height: 100vh;
    min-width: 90vw;
    margin: auto;
    text-align: center;
}

/*mobile design|always first*/
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    min-height: 100vh;
}

.a {
    min-height: 7vh;
    min-width: 99vw;
    margin: auto;
    background-color: lightgrey;
}

.b {
    min-height: 50vh;
    min-width: 12vw;
    margin: auto;
    background-color: goldenrod;
}

.c {
    min-height: 50vh;
    min-width: 70vw;
    margin: auto;
    background-color: beige;
}

.d {
    min-height: 50vh;
    min-width: 12vw;
    margin: auto;
    background-color: goldenrod;
}

.e {
    min-height: 42vh;
    min-width: 100vw;
    margin: auto;
    background-color: lightgrey;
}

/************* DONT TOUCH *********************/
/*desktop design*/
@media (min-width: 100vh) {
    .container {
        display: flex;
        flex-direction: cloumn;
        flex-wrap: wrap;
        min-height: 100VH;
    }

    .a {
        display: center;
        min-height: 7vh;
        min-width: 99vw;
        margin: auto;
        border: 1px solid black;
    }

    .b {
        display: center;
        min-height: 30vh;
        min-width: 21vw;
        margin: 2px 0px 2px 17px;
        border: 1px solid black;
    }

    .c {
        display: center;
        min-height: 55vh;
        min-width: 49vw;
        margin: 2px 25px 2px 25px;
        border: 1px solid black;
    }

    .d {
        display: center;
        min-height: 30vh;
        min-width: 21vw;
        margin: 2px 0px 2px 0px;
        border: 1px solid black;
    }

    .e {
        display: center;
        min-height: 32vh;
        min-width: 99vw;
        margin: auto;
        border: 1px solid black;
    }
}